.container {
    height: 100%;
}

.buffer {
    height: 25%;
}

.content-container {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title-container {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fresca;
    font-size: 50px;
}

.input-output-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    font-family: fresca;
}

.output {
    font-family: fresca;
    font-size: 100px;
}

.top-buffer {
    margin-top: 5%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-circle:hover {
    transform: scale(1.25);
}

.btn-circle {
    transition: all .2s ease-in-out;
    border: none !important;
    font-size: 25px;
    height: 3rem;
    width: 3rem;
    border-radius: 50% !important;
    background-color: white;
}

#stop-btn {
    display: none;
}