html, body {
    height: 100%;
}

body {
    margin:0px;
    padding:0px;
    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}

p {
    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}

#Home-btn {
    transition: all .2s ease-in-out;
    font-size: 3rem;
    position: absolute;
    color: white;
}

#Home-btn:hover {
    transform: scale(1.1);
}

#countdown-container {
    width: 90%;
    height: 20%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    z-index:3;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    font-size: 50px;
    color: white;
    font-family: 'Lobster';
}

#countdown {
    width: 50%;
    height: 15%;

    position: absolute;
    top:40%;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    z-index:3;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    font-size: 50px;
    color: white;
    font-family: 'Lobster';
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}
